# ================================================================
# This is a sample .env file that you should create in the 
# directory of the MESSI pipeline. 
#
# TODO: need to fill in your actual ALLOCATION_CODE and MAIL_USER
# for UBC sockeye usage
# TODO: rename the file from "sample.env" to .env
# ================================================================

ALLOCATION_CODE=REPLACE
MAIL_USER=REPLACE
# Recommend this cache dir be under /arc/project/${ALLOCATION_CODE}/${USER}/MESSI-apptainer-images
APPTAINER_IMAGE_CACHE_DIR=REPLACE
