/*
This is the configuration for a remote setting on SLURM cluster for development,
and it should be the mainly used configuration profile. Uses apptainer over docker, 
and has various cluster max memory, cpu, time usage limit
*/

// Config file for params to tune
// includeConfig './tune.config'

// remote only ENV
// This env variables are set in bin/helper.sh
env {
  scratchPath       = "$projectDir"
}




params {
  // Note these are max limits for processes and should align with those of interactive node
  max_cpus = System.getenv('SLURM_CPUS_ON_NODE').toInteger() ?: 4
  max_memory = System.getenv('SLURM_MEM_PER_NODE') ? "${System.getenv('SLURM_MEM_PER_NODE')}.MB" : '8.GB'
  max_time = '2.h'
  allocation_code = System.getenv('ALLOCATION_CODE') ?: "invalid allocation code"
  project_data_dir  = allocation_code ? "/arc/project/${allocation_code}/datasets/messi_demo_data" : "invalid project data dir"
}

executor {
  name    = 'local'
  cpus    = params.max_cpus
  memory  = params.max_memory
}

process {
  scratch = true
  // NOTE this overrides the base config resource requirement
    // withLabel:process_single {
    //     cpus   = { check_max( 1                  , 'cpus'    ) }
    //     memory = { check_max( 256.MB * task.attempt, 'memory'  ) }
    //     time   = { check_max( 15.min  * task.attempt, 'time'    ) }
    // }
    // withLabel:process_low {
    //     cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
    //     memory = { check_max( 512.MB * task.attempt, 'memory'  ) }
    //     time   = { check_max( 30.min   * task.attempt, 'time'    ) }
    // }
    // withLabel:process_medium {
    //     cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
    //     memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
    //     time   = { check_max( 1.h   * task.attempt, 'time'    ) }
    // }
    // withLabel:process_high {
    //     cpus   = { check_max( 6    * task.attempt, 'cpus'    ) }
    //     memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
    //     time   = { check_max( 2.h  * task.attempt, 'time'    ) }
    // }

    withLabel: 'mae_mu' {
        container   =   "save_simulate.sif"
    }
}

// replace to apptainer later

// after supplying cacheDir, you could use container with image name only like above,
// no need to specify file:// ... 
apptainer {
  enabled         =   true
  autoMounts      =   true
  // Add the bind path to project space demo data
  runOptions       = "--bind ${params.project_data_dir} --bind '/scratch/st-singha53-1/tliang19/multiomics_debug_space/data/all_tar_gz'" 
  cacheDir        =   params.apptainer_cache_dir
  docker.enabled	= false    
}
