/*
This is the configuration for a remote setting on SLURM cluster for development,
and it should be the mainly used configuration profile. Uses apptainer over docker, 
and has various cluster max memory, cpu, time usage limit
*/

// Config file for params to tune
// includeConfig './tune.config'

// remote only ENV
// This env variables are set in bin/helper.sh
env {
  scratchPath       = "$projectDir"
}




params {
  // Note these are max limits for processes and should align with those of interactive node
  max_cpus = System.getenv('SLURM_CPUS_ON_NODE').toInteger() ?: 4
  max_memory = System.getenv('SLURM_MEM_PER_NODE') ? "${System.getenv('SLURM_MEM_PER_NODE')}.MB" : '8.GB'
  max_time = '2.h'
  allocation_code = System.getenv('ALLOCATION_CODE') ?: "invalid allocation code"
  project_data_dir  = allocation_code ? "/arc/project/${allocation_code}/datasets/messi_demo_data" : "invalid project data dir"
}

apptainer {
	enabled          = true
	autoMounts       = true
	cacheDir         = "${params.apptainer_cache_dir}"
	libraryDir	 = "${params.apptainer_cache_dir}"
	runOptions       = "--bind ${params.project_data_dir}" 
	docker.enabled   = false
	conda.enabled	 = false
}

executor {
//  name    = 'local'
  cpus    = params.max_cpus
  memory  = params.max_memory
}

process {
  scratch = true
   withLabel: 'mae_mu' {
        container   =   "save_simulate.sif"
   }
}


