/*
This config file is for editing nextflow parameters when running in a local environment
any non cluster-like or cloud environment. Biggest change is to use Docker over apptainer
And, some paths are different like scratchPath and projectPath
*/

// process with label
process {
    cpus = 4
    memory = '1G'
}


docker {
    enabled		      = true
    temp		      =   'auto'
    // This is temporal fix
    runOptions	      =   "-v $projectDir:/home/rstudio/$projectDir"
    apptainer.enabled = false
}



