/*
This config file is for editing nextflow parameters when running in a local environment
any non cluster-like or cloud environment. Biggest change is to use Docker over apptainer
And, some paths are different like scratchPath and projectPath
*/

// process with label
process {
    cpus = 4
    memory = '2G'
    // Limit resources on local
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

}




