// Global level option of supress all process publishing behavior
// When publish_relevant = true, only important files are published
// like those feature selection results and cross validated ouput (merged)
process {
  dummy_placeholder = "hello"
}
// This is to set publish results
if (params.publish_relevant) {
    process {
      // Suppress all publish output that are not these 3 processes
      withName: '^(?!.*(MERGE_SELECTED_FEATURES|MERGE_RESULT_TABLE|PARSE_METADATA|CALCULATE_METRICS)).*$' {
        publishDir = [
          enabled: false
        ]
      }
  }
} 
  