/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on real datasets only
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run on real datasets

    Use as follows:
        nextflow run main.nf -profile real_data,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
  config_profile_name         = 'Real Data Profile'
  config_profile_description  = 'Evaluation on real datasets only'


  // Full test mode, run all methods and all data
  //samplesheet               = "${params.data_dir}/samplesheet_real_data.csv"
  skip_caret_multimodal       = false
  skip_cplr                   = false
  skip_diablo                 = false
  skip_integrao               = false
  skip_rgcca                  = false
  skip_mogonet                = false
  skip_mofa                   = false
  // Run feature selection
  select_feature              = true
  k_fold_number               = 5
  filter_low_var	      = "1" // This get casted as bool in both Python and R
  // number of component
  num_comps                   = 2
  // HE for mogonet
  he_base_dim                 = 100 // Base dimension for the HE layer, default to 100 for real data
}
