/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on survival tasks
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run on real datasets

    Use as follows:
        nextflow run main.nf -profile survival,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
  config_profile_name         = 'Survival only'
  config_profile_description  = 'Evaluation on survival task'
  outcome_type                = 'survival'

  // Full test mode, run all methods and all data
  single_modality_mode	      = true
  // trigger to skip method or not
  skip_sklearn		      = true
  skip_caret_multimodal       = true
  skip_cplr                   = false
  skip_diablo                 = true
  skip_integrao               = true
  skip_rgcca                  = true
  skip_mogonet                = true
  skip_mofa                   = false
  skip_sksurv                 = false
  // Run feature selection
  selectFeature               = false
  k_fold_number               = 5
  filter_low_var	      = "1" // This get casted as bool in both Python and R
  // number of component
  num_comps                   = 2
  // HE for mogonet
  he_base_dim                 = 100 // Base dimension for the HE layer, default to 100 for real data
}
