/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on simulated datasets only
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run on simluated datasets only

    Use as follows:
        nextflow run main.nf -profile real_data,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
  config_profile_name         = 'Simluated Data Profile'
  config_profile_description  = 'Evaluation on simulated datasets only'


  // Full test mode, run all methods and all data
  //samplesheet                 = "${params.data_dir}/samplesheet_simulated_data.csv"
  skip_cplr                   = false
  skip_diablo                 = false
  skip_rgcca                  = false
  skip_mogonet                = false
  skip_mofa                   = false
  // Run feature selection
  select_feature              = true
  k_fold_number               = 5
  // Skip on filtering low variance features
  filter_low_var              = "0" // This get casted as boolean in both Python and R
}

// Use smaller time config for simulated datasets
process {
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Resources allocation group by usage of resources
    withLabel:process_single {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 1.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_low {
        cpus   = { check_max( 3     * task.attempt, 'cpus'    ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 3.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 5.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time   = { check_max( 12.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 128.GB * task.attempt, 'memory' ) }
    }


}
