/*
This is the configuration for a remote setting on PBS cluster, and it should be
the mainly used configuration profile. Uses apptainer over docker, and has various cluster
max memory, cpu, time usage limit
*/

params {
    config_profile_description  = 'UBC Sockeye Cluster'
    max_memory                  =   '754.GB'
    max_cpus                    =   40
    max_time                    =   '720.h'
    allocation_code             =   System.getenv('ALLOCATION_CODE')
    apptainer_cache_dir         =   "/arc/project/${System.getenv('ALLOCATION_CODE')}/${USER}/MESSI-apptainer-images"
    project_data_dir            =   "/arc/project/${System.getenv('ALLOCATION_CODE')}/datasets/messi_demo_data/"

}


// after supplying cacheDir, you could use container with image name only like above,
// no need to specify file:// ... 
apptainer {
    enabled          = true
    autoMounts       = true
    // the default is 20 minutes and fails with large images
    pullTimeout      = "3 hours" // Timeout for pulling image
    cacheDir         = "${params.apptainer_cache_dir}"  // Equivalent to setting NXF_APPTAINER_CACHEDIR
    // Add the bind path to project space demo data
    runOptions       = "--bind ${params.project_data_dir}" 
    docker.enabled   = false
    conda.enabled    = false
}

process {
    // stageInMode = 'symlink'
    // stageOutMode = 'rsync'
    // afterScript = "sleep 60" // to avoid fail when using storeDir for missing output
    // Error and retry handling
    maxRetries  = 3
    errorStrategy = { task.exitStatus in [143,137,104,134,139,71,255] ? 'retry' : 'finish' }
    scratch = true

    clusterOptions = "--account=${params.allocation_code} --nodes=1"
    withLabel: 'gpu' {
        beforeScript = """
        module load gcc
        module load cuda
        """.stripIndent()
        clusterOptions = "--account=${params.allocation_code}-gpu --gpus-per-node=1 --nodes=1"
        containerOptions = {
            // Ensure that the container has access to the GPU
            workflow.containerEngine == "apptainer" ? '--nv':
            ( workflow.containerEngine == "docker" ? '--gpus all': null )
        }
    }
    /* 
        These resources are specific on Sockeye, which override
        those labelled within the process level like process-low/process-medium/etc
    */
    // For any method's tranining
    // TODO: THIS FAILS when mixed with the test profile
    // NEED to thorough it run this either with the test or without it
    // to make use of resources
    withName: '.*_TRAIN' {
        cpus   = { check_max( 8                  , 'cpus'    ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 6.h  * task.attempt, 'time'    ) }
        errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
        stageInMode = 'copy'
    }
    
    // These feature selection ones could sometimes fail?
    withName: '.*_SELECT_FEATURE' {
        errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
        maxRetries = 3
        stageInMode = 'copy'

    }

    // This process is just collapsing csv, so least possible resources possible
    withName: 'MERGE_RESULT_TABLE' {
        memory = '256 MB'
        cpus = 1
        time = '1h'
    }

    // withLabel: 'process_single|process_single_thread|sc_tiny|sc_small|sc_medium' {
    //     clusterOptions = "--partition=E5,Lake,Lake-flix"
    //     cpus   = 1
    //     memory = 114.GB
    //     time   = 24.h
    // }
}

// Submit up to 50 jobs at once with 30 secs between to avoid spamming the cluster
// Limit queueSize to keep job rate under control and avoid timeouts
executor {
    name = 'slurm'
    pollInterval = '30 sec'
    queueSize  = 50
    submitRateLimit = '25/1min'
    // submitRateLimit = '15 sec'
    // submitRateLimit = '60/1min'

    // Just show the very last part of process name (not including workflow names)
    jobName = { "${task.process.split(':').last()}" }
    // jobName = {
    //     task.name // [] and " " not allowed in job names
    //         .replace("[",
    //     "(")
    //         .replace("]",
    //     ")")
    //         .replace(" ",
    //     "_")
    // }
}

// Perform work directory cleanup when the run has succesfully completed
cleanup = true

profiles {
    // Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
    // Use it with -profile sockeye,debug
    // NOTE: order matters, and theres NO space between comma
    debug {
        cleanup = false
    }
}
