/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'


  // Limit resources so that this can run on GitHub Actions
  max_cpus   = 2
  max_memory = '6.GB'
  max_time   = '6.h'

  // Input data, this runs on one dataset only
  samplesheet = "${params.data_dir}/samplesheet_test_small.csv"
  // Skip options, this runs on one method for each language only
  skip_cplr           = true
  skip_diablo         = false
  skip_goat           = true
  skip_rgcca          = true
  skip_sgmr           = true
  skip_mogonet        = true
  skip_mofa           = true

  // Runs on a smaller setting of cross validation
  k_fold_number       = 2
  // On a test (not the full one), NOT run feature selection
  selectFeature       = false
  
}